name: cache

on: workflow_dispatch

jobs:
  cache:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Maven
        id: setup-maven
        uses: dbstar-org/setup-maven@feature-maven-cache
        with:
          cache-strategy: 'restore'
      - run: mvn clean verify
        env:
          MAVEN_OPTS: ${{ vars.MAVEN_OPTS }}
      - name: Update Maven Repository Cache
        id: cache-maven
        if: false
        uses: dbstar-org/maven-cache-updater@v1
        with:
          cache-matched-key: ${{ steps.setup-maven.outputs.cache-matched-key }}
      - run: echo "${{ toJSON(steps) }}"