name: cache

on: workflow_dispatch

jobs:
  cache:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'adopt'
      - id: cache-maven
        uses: actions/cache/restore@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven
      - run: echo "${{ toJson(steps.cache-maven) }}"
      - run: mvn clean package
