name: cache

on: workflow_dispatch

jobs:
  cache:
    runs-on: ubuntu-latest
    env:
      MAVEN_OPTS22: -Dhttps.protocols=TLSv1.2 -Dmaven.repo.local=${{ github.workspace }}/.m2/repository -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true -Dmaven.install.skip=true
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'adopt'
      - id: cache-maven
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ github.run_id }}-${{ github.job }}
          restore-keys: ${{ runner.os }}-maven-
      - run: echo "${{ toJson(steps.cache-maven) }}"
      - run: mvn -B -U -V clean package
      - run: echo "hash is ${{ hashFiles('~/.m2/repository') }}"
      - if: steps.cache-maven.outputs.cache-hit == 'true11'
        uses: actions/cache/save@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ github.run_id }}-${{ github.job }}
