name: maven

on:
  push:
    branches:
      - main
      - snapshot-*
    paths-ignore:
      - '.github/workflows/release.yml'
      - 'README.md'

jobs:
  package:
    uses: dbstar-org/general/.github/workflows/maven-package.yml@main
  verify:
    needs: package
    uses: dbstar-org/general/.github/workflows/maven-verify.yml@main
  sonar:
    needs: verify
    if: vars.SONAR_PROJECT_KEY != ''
    uses: dbstar-org/general/.github/workflows/maven-sonar.yml@main
    with:
      project-key: ${{ vars.SONAR_PROJECT_KEY }}
    secrets: inherit
  deploy:
    needs: verify
    permissions:
      packages: write
    uses: dbstar-org/general/.github/workflows/maven-deploy.yml@main
    secrets: inherit
