name: maven

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: dbstar-org/maven-setup-action@main
      - name: Package with Maven
        run: mvn -B -U clean package
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: dbstar-org/maven-setup-action@main
      - name: Verify with Maven
        run: mvn -B -U clean verify
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: dbstar-org/maven-setup-action@main
      - run: cat ~/.m2/settings.xml
