name: maven

on: [push]

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: dbstar-org/setup-maven@v1
      - name: Package with Maven
        run: mvn -B -U clean package -DskipTests=true
  verify:
    needs: package
    runs-on: ubuntu-latest
    steps:
      - uses: dbstar-org/setup-maven@v1
      - name: Verify with Maven
        run: mvn -B -U clean verify
  sonar:
    needs: verify
    if: vars.SONAR_PROJECT_KEY != ''
    runs-on: ubuntu-latest
    steps:
      - uses: dbstar-org/setup-maven@v1
      - name: Verify with Maven
        run: mvn -B -U clean verify
  deploy:
    needs: [verify, sonar]
    if: always() && needs.verify.result == 'success' && needs.sonar.result == 'success'
    runs-on: ubuntu-latest
    steps:
      - uses: dbstar-org/setup-maven@v1
        id: setup-maven
      - run: cat ~/.m2/settings.xml
      - run: echo '${{ steps.setup-maven.outputs.java-version }}'
      - run: echo '${{ steps.setup-maven.outputs.distribution }}'
      - run: echo '${{ toJSON(needs) }}'
