name: maven

on:
  push:
    branches:
      - main
      - snapshot-*
    paths-ignore:
      - '.github/workflows/release.yml'
      - 'README.md'

jobs:
  package:
    uses: dbstar-org/general/.github/workflows/maven-package.yml@main
  verify:
    needs: package
    uses: dbstar-org/general/.github/workflows/maven-verify.yml@main
  sonar:
    needs: verify
    if: vars.SONAR_PROJECT_KEY != ''
    uses: dbstar-org/general/.github/workflows/maven-sonar.yml@main
  deploy:
    needs: verify
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: dbstar-org/setup-maven@v1
        with:
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
      - name: Deploy to Github
        env:
          GITHUB_TOKEN: ${{ github.token }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        run: mvn -B -U clean deploy -P release,distribution-github
