name: maven

on: [push]

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'adopt'
      - run: cat ~/.m2/settings.xml
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
  build:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: dbstar-org/maven-setup-action@main
      - name: Package with Maven
        run: mvn -B -U clean package
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: dbstar-org/maven-setup-action@main
      - name: Verify with Maven
        run: mvn -B -U clean verify
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: dbstar-org/maven-setup-action@main
      - run: echo "deploy it"
